menu "LCM4ESP32 Configuration"

    config LCM_REPO
        string "User Repo"
        default "HomeACcessorykid/lcm-demo"
        help
            name of the repo with the user firmware image.

    config LCM_GITHOST
        string "Host name of GIT release server"
        default "github.com"
        help
            hostname of server which hosts the images.

    config LCM_GITREPO
        string "User Repo"
        default "HomeACcessorykid/LCM4ESP32"
        help
            name of the repo with the LCM firmware images.

endmenu
